[submodule "theme-yilia"]
	path = themes/yilia
	url = https://github.com/StdioA/hexo-theme-yilia.git
[submodule "theme-cofess"]
	path = themes/cofess
	url = https://github.com/StdioA/hexo-theme-pure.git
